body {
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.app-svg {
    flex: 1 1 auto;
    overflow: auto;
    background: #ddd;
    background: linear-gradient(90deg, #bbb 0%, #fff 40%, #fff 60%, #bbb 100%);
}
.app-svg::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.app-input {
    flex: 0 0 auto;
    min-width: 200px;
    padding: 1em;
}
